.ant-card-body {
    padding: 24px;
    height: 115px !important;
}

.ant-card-actions p {
    cursor: default;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}

.ant-menu-item {
    text-align: left;
}

h1.ant-typography {
    display: inline-block;
    left: 45%;
    position: relative;
    top: 7px;
}