.ant-card-body {
    padding: 24px;
    height: 130px !important;
}

.ant-card-actions p {
    cursor: default;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
}

.ant-menu-item {
    text-align: left;
}

h1.ant-typography {
    display: inline-block;
    left: 45%;
    position: relative;
    top: 7px;
}

.anticon-star {
    color: green;
}

.ant-card-meta-title{
    text-align: left;
}

.other-details{
    text-align: left;
    margin-top: 10px;
}

.other-details p:first-child{
    display: inline;
    font-weight: bold;
    color: green;
}

.other-details p:nth-child(2) {
    margin-bottom: 0px;
    text-decoration: line-through;
}